name: Build Frontend

on:
  push:
    branches:
      - main
      - amplifyV2

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create env.js
        run: |
          echo "window._env_ = {" > HTML_Front/env.js
          echo "  COGNITO_CLIENT_ID: '${{ secrets.COGNITO_CLIENT_ID }}'," >> HTML_Front/env.js
          echo "  COGNITO_USER_POOL_ID: '${{ secrets.COGNITO_USER_POOL_ID }}'" >> HTML_Front/env.js
          echo "};" >> HTML_Front/env.js

      - name: Upload artifact for Amplify
        uses: actions/upload-artifact@v3
        with:
          name: frontend
          path: HTML_Front
